Daily Project Status Email for L&T Managers/Daily Project Status Email.json
{
  "name": "Daily Project Status Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        0
      ],
      "id": "7c0e59b1-a255-4da8-9b6a-a6e162b53b7b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ehzweJiV_u--BwCTYyBM1mnUfUtDEMBErC0TQ_xFMUk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ehzweJiV_u--BwCTYyBM1mnUfUtDEMBErC0TQ_xFMUk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        0
      ],
      "id": "5e11b5b8-12f9-48b1-9e87-1ddb3e60b7f4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yz0KH24j3F4J1ky7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let html = `\n<table border=\"1\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse:collapse; width:100%;\">\n<tr style=\"background:#f2f2f2;\">\n  <th>Project Name</th>\n  <th>Today Work</th>\n  <th>Materials Required</th>\n  <th>Risks</th>\n  <th>Delays</th>\n</tr>\n`;\n\nfor (const item of items) {\n  html += `\n  <tr>\n    <td>${item.json[\"Project Name\"] || \"\"}</td>\n    <td>${item.json[\"Today Work\"] || \"\"}</td>\n    <td>${item.json[\"Materials Required\"] || \"\"}</td>\n    <td>${item.json[\"Risks\"] || \"\"}</td>\n    <td>${item.json[\"Delays\"] || \"\"}</td>\n  </tr>`;\n}\n\nhtml += `</table>`;\n\nreturn [{ json: { html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "4adfaf71-543e-4c83-b627-1a31621f8f0a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "hinalbhagat0101@gmail.com",
        "toEmail": "hinalbhagat02@gmail.com",
        "subject": "Daily Project Status Report",
        "html": "=<h3>Daily Project Status Report</h3>\n<p>Good morning, below is today’s project update:</p>\n\n{{$json[\"html\"]}}\n\n<p>Regards,<br>L&T Automation</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        0
      ],
      "id": "8b1d0c1e-5385-46bd-86bc-f0529db9d191",
      "name": "Send an Email",
      "webhookId": "2caf3800-9c46-4e01-93d3-0dee7c59ad98",
      "credentials": {
        "smtp": {
          "id": "XRyjZ6Kw8w1WQNFG",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-08T23:48:09.070-05:00",
          "Readable date": "February 8th 2026, 11:48:09 pm",
          "Readable time": "11:48:09 pm",
          "Day of week": "Sunday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "08",
          "Hour": "23",
          "Minute": "48",
          "Second": "09",
          "Timezone": "America/New_York (UTC-05:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3aa39e0c-ed87-4602-b123-72fc35383112",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5160bfa3c25dab069103e3f416f11a5d3b0ce499557c4e528cdf296eeb575b03"
  },
  "id": "Pm3dBl7BpDJZMlUIxOatA",
  "tags": []
}